@import "~@/client/styles/variables";

.blurred {
  transition: transition((backdrop-filter));
  &:not(.deactivate) {
    backdrop-filter: saturate(100%) blur(5px);
  }
  &.border {
    border-bottom: 1px solid get-shadow-color(text, 0.12);
  }
}
