@import "~@/client/styles/variables";

.divider {
  border: 0;
  border-top: 1px solid;
  display: block;
  @include theme(dark) {
    border-color: get-color(paper, lighten-2);
  }
  @include theme(light) {
    border-color: get-color(background, darken-2);
  }
}
