node_modules
dist

.env*
!.env.example

.vscode
tmp

*.scss.d.ts
*.graphql.d.ts
*.gql.d.ts
src/server/schema.graphql
src/client/graphql/index.ts
src/client/graphql/types.ts

coverage
uploads

cache

logs
*.log
npm-debug.log*
.DS_Store
__generated__
.vercel
