projects:
  app:
    schema:
      - http://localhost:3333/graphql
      - src/client/graphql/schema.graphql
    documents: ["src/client/graphql/**/*.graphql"]
    extensions:
      endpoints:
        default: http://localhost:3333/graphql
      customDirectives:
        - directive @client on FIELD
