@import "~@/client/styles/variables";

.button {
  border: 0;
  border-radius: get-theme-prop(layout, shape);
  font-weight: get-theme-prop(typography, weights, 2);
  letter-spacing: 1.15px;
  position: relative;
  text-transform: uppercase;
  transition: transition((background-color, box-shadow));
  user-select: none;
  @include not-disabled {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &.normal {
    padding: get-theme-prop(layout, sizes, 4) get-theme-prop(layout, sizes, 5);
  }
  &.small {
    padding: get-theme-prop(layout, sizes, 3) get-theme-prop(layout, sizes, 4);
  }
  &.block {
    width: 100%;
  }
  &.contained,
  &.raised {
    @include not-disabled {
      @each $k, $v in map-get($colors, light) {
        &.#{$k} {
          background-color: get-color($k);
          color: get-color($k, contrast);
          &:hover,
          &:focus {
            background-color: get-color($k, darken-1);
          }
          &:active {
            background-color: get-color($k, darken-2);
          }
        }
      }
    }
    @include disabled {
      background-color: get-color(muted);
      color: get-color(muted, contrast);
    }
  }
  &.flat {
    background-color: transparent;
    @include not-disabled {
      @each $k, $v in map-get($colors, light) {
        &.#{$k} {
          color: get-color($k);
          &:hover,
          &:focus {
            background-color: get-shadow-color($k, 0.2);
          }
          &:active {
            background-color: get-shadow-color($k, 0.3);
          }
        }
      }
    }
    @include disabled {
      color: get-color(muted);
    }
  }
  &.raised {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    @include not-disabled {
      &:hover,
      &:focus {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
      }
      &:active {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
