@import "~@/client/styles/variables";

.select {
  position: relative;
  .content {
    width: 100%;
    z-index: get-theme-prop(layout, zindex, select);
    .menu {
      &.enter {
        opacity: 0;
        transform: translate3d(0, -15px, 0);
      }
      &.enter-active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: transition((opacity, transform));
      }
      &.enter-done {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      &.exit {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      &.exit-active {
        opacity: 0;
        transform: translate3d(0, -15px, 0);
        transition: transition((opacity, transform));
      }
      &.exit-done {
        opacity: 0;
        transform: translate3d(0, -15px, 0);
      }
    }
  }
}

.control {
  input {
    cursor: default;
    user-select: none;
  }
}

.menu {
  background-color: get-color(paper);
  border-radius: get-theme-prop(layout, shape);
  overflow: hidden;
  padding: 0 !important;
  .scroll {
    max-height: 300px;
    overflow: auto;
    padding: get-theme-prop(layout, sizes, 4) 0 !important;
  }
  &:focus {
    outline: none;
  }
}
