@import "~@/client/styles/variables";

.container {
  column-gap: get-theme-prop(layout, gap) / 1.5 !important;
}

.item {
  color: get-shadow-color(text, 0.7);
  &:hover {
    color: get-color(text);
    text-decoration: underline;
  }
}

.separator {
  color: get-shadow-color(text, 0.7);
}
