@import-normalize;
@import "./variables";

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("~@/client/assets/fonts/open-sans-400.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("~@/client/assets/fonts/open-sans-600.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: get-theme-prop(typography, family);
  font-size: $base-px;
  text-size-adjust: 100%;
}

body {
  background-color: get-color(background);
  color: get-color(background, contrast);
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none;
    transition: none;
  }
}

@include gen-colors($colors);

*::-webkit-scrollbar {
  width: 7px;
}

* {
  scrollbar-width: thin;

  &::-webkit-scrollbar-track {
    background-color: get-color(paper);
    border-radius: get-theme-prop(layout, shape);
  }
  &::-webkit-scrollbar-thumb {
    background-color: get-color(paper);
  }
}

@include on-light {
  * {
    scrollbar-color: get-color(background, darken-2) get-color(paper);
    &::-webkit-scrollbar-thumb {
      background-color: get-color(background, darken-2);
    }
  }
}
@include on-dark {
  * {
    scrollbar-color: get-color(paper, lighten-2) get-color(paper);
    &::-webkit-scrollbar-thumb {
      background-color: get-color(paper, lighten-2);
    }
  }
}
