@import-normalize;
@import "./variables.scss";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("~@/client/assets/fonts/open-sans-400.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("~@/client/assets/fonts/open-sans-600.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-px;
  font-family: get-theme-prop(typography, family);
  text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: get-color(background);
  color: get-color(background, contrast);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: none;
    animation: none;
  }
}

@include gen-colors($colors);
