@import "~@/client/styles/variables";

@each $k, $v in get-theme-prop(colors, light) {
  .#{$k} {
    color: get-color($k);
  }
}

.button {
  @extend %button;
}

.overline {
  @extend %overline;
}

.caption {
  @extend %caption;
}

.body-2 {
  @extend %body-2;
}

.body-1 {
  @extend %body-1;
}

.subtitle-2 {
  @extend %subtitle-2;
}

.subtitle-1 {
  @extend %subtitle-1;
}

@for $i from 1 through 6 {
  .headline-#{$i} {
    @extend %headline-#{$i};
  }
}

.link {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
