$csstyle-option-symbol: "";
$csstyle-root-id: "";

$shape: 6px;

$colors: (
  light: (
    primary: #f2af29,
    secondary: #3bb273,
    background: #ececec,
    paper: #fcfcfc
  ),
  dark: (
    primary: #ffba08,
    secondary: #3bb273,
    background: #2d2d2a,
    paper: #4c4c47
  )
);

$font-family: Roboto;
$font-weights: (
  light: 300,
  regular: 400,
  medium: 500
);
$font-sizes: 0.875rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
