@import "~@/client/styles/variables";

.header {
  background-color: get-shadow-color(background, 0.6);
  position: fixed;
  width: 100%;
}

.content {
  padding: get-theme-prop(layout, sizes, 5) 0;
}
