@import "~@/client/styles/variables";

.button {
  background-color: transparent;
  border: 0;
  border-radius: 9999px;
  display: inline-flex;
  transition: transition((background-color, color));
  @include not-disabled {
    cursor: pointer;
    @each $k, $v in map-get($colors, light) {
      &.#{$k} {
        color: get-color($k);
        &:hover,
        &:focus {
          background-color: get-shadow-color($k, 0.2);
        }
        &:active {
          background-color: get-shadow-color($k, 0.3);
        }
      }
    }
  }
  @include disabled {
    color: get-color(muted);
  }
  &.normal {
    padding: get-theme-prop(layout, sizes, 4);
  }
  &.small {
    padding: get-theme-prop(layout, sizes, 3) * 1.25;
  }
  &:focus {
    outline: none;
  }
}
