@import "~@/client/styles/variables";

.stepper {
  margin-bottom: get-theme-prop(layout, gap) * 2.5;
  margin-top: get-theme-prop(layout, sizes, 1);
}

.item {
  align-items: center;
  column-gap: get-theme-prop(layout, gap);
  display: flex;
  &.clickable {
    cursor: pointer;
  }
  &:not(.active) {
    .icon,
    .content {
      color: get-color(muted);
    }
  }
  &.active {
    .icon,
    .content {
      color: get-color(primary);
    }
  }
}

.icon {
  display: inline-flex;
}

.content {
  font-weight: get-theme-prop(typography, weights, 2);
  @media (max-width: get-theme-prop(layout, breakpoints, md)) {
    display: none;
  }
}

.line {
  border-radius: 999px;
  height: 2px;
  &:not(.active) {
    background-color: get-color(muted);
  }
  &.active {
    background-color: get-color(primary);
  }
}
