@import "~@/client/styles/variables";

@each $k, $v in map-get($colors, light) {
  .#{$k} {
    color: get-color($k);
  }
  .bold {
    font-weight: get-theme-prop(typography, weights, 2);
  }
  .small {
    font-size: get-theme-prop(typography, sizes, 1);
  }
}
