@import "~@/client/styles/variables";

.container {
  padding: 0 get-theme-prop(layout, gap);
  &:not(.fluid) {
    margin: 0 auto;
    @each $k, $v in get-theme-prop(layout, breakpoints) {
      @media (min-width: $v) {
        max-width: #{get-theme-prop(layout, containers, $k)};
      }
    }
  }
}
