@import "~@/client/styles/variables";

.title {
  display: inline-block;
  font-size: get-theme-prop(typography, sizes, 3);
  font-weight: get-theme-prop(typography, weights, 2);
  margin-bottom: get-theme-prop(layout, gap) * 2.5;
  margin-top: 0;
  @each $k, $v in map-get($colors, light) {
    &.#{$k} {
      color: get-color($k, contrast);
    }
  }
}
