@import "~@/client/styles/variables";

.tooltip {
  border-radius: get-theme-prop(layout, shape);
  box-shadow: 0 3.6px 3.3px rgba(0, 0, 0, 0.05), 0 10px 9px rgba(0, 0, 0, 0.033), 0 24.1px 21.7px rgba(0, 0, 0, 0.025),
    0 80px 72px rgba(0, 0, 0, 0.017);
  opacity: 0;
  transition: transition((opacity));
  visibility: hidden;
  z-index: get-theme-prop(layout, zindex, tooltip);
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  @each $k, $v in map-get($colors, light) {
    &.#{$k} {
      background-color: get-color($k);
      color: get-color($k, contrast);
    }
  }
}
